* {
  /* background-color: black; */
    box-sizing: border-box;
    
}
body {
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: Arial;
  text-align: center;
}

 .App {
     /* max-width: 420px; */
     /* max-width: 500px; */
     /* margin: 0 auto; */
     padding: 10px;
     /* float:right; */
     
}
.content {
    flex: 1 0 auto;
    padding: 10px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
.footer {
    flex-shrink: 0;
    text-align: center;
    /* background-color: rgb(15, 15, 15); */
    color: white;
    font-weight: 200;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
/* 
  .responsive {
    max-width: 100%;
    height: auto;
  } */
p {
     text-align: center;
     font-style: normal;
     font-size: medium;
     font-family: Verdana;
     font-weight: 500;
}
label{
    font-size: medium;
    text-align: left;
    font-family: Verdana;
}
 input[type=text],input[type=email], select, textarea {
     width: 100%;
     padding: 12px;
     text-align: left;
     font-family: Verdana;
     background-color: blanchedalmond;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: medium;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     font-family:Verdana;
     font-size: medium;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #45a049;
     font-weight: bold;
     font-family: Verdana;
}

.column {
  
  /* width: 500px; */
  display: inline-block;
  /* max-width: 600px; */
width: 50%; 
  text-align: left;
  

  /* background-color: #ddd; */
  /* border-radius: 3px; */
  /* margin: 15px; */
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

/* .row:after {
  content: "";
  display: table;
  
  
  clear: both;
} */


/* .contactcontainer{
    float: right;
    font-family: Verdana;
    font-weight: bold;
    padding-left: 120px;
} */
/* .container
{
  text-align: center;
  padding: 15px;  
} */

/* .box{
  height: auto;
  border-radius: 2px;
  border:solid;
  padding:10px;
} */
/* .left-div
{
  display: inline-block;
  max-width: 600px;
 
  text-align: left;
  padding: 10px;
  /* background-color: #ddd; */
  /* border-radius: 3px;
  margin: 15px;
  vertical-align: top;
} */ 
.responsive {
    width: 100%;
    /* padding:0px; */
    height: 560px;
    border: 4px solid rgb(214, 201, 201);
  border-radius: 5px;
  padding:30px;
  }
/* .right-div
{
  display: inline-block;
  max-width: 600px;
  text-align: left;
  padding: 15px;
  background-color: #ddd;
  border-radius: 3px;
  border: solid;
  margin: 15px;
} */
/* .left-text, .right-text
{
  font: 14px Verdana;
	color: #333;
}
@media screen and (max-width: 700px) 
{
  .left-div, .right-div, .box
    {
       max-width: 100%;
       padding-right: 20px;
       padding-right: 20px;
    }
} */
 /* .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
     float: right;
} */
.social-container {
    /* background: #eee; */
    font-family: Verdana;
    /* font-weight: bold; */
    font-size: medium;
    width: 500px;
    /* padding:10px; */
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.gmail {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:rgb(238, 192, 192);

  }
  
  a.instagram {
    color: rgb(245, 230, 230);
  }
  